.card:hover img {
  transform: scale(1.5, 1.5);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.8;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.card-img-wrapper {
  overflow: hidden;
}

.card-body:hover p {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
